# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
# Consistent trailing newlines and whitespace
insert_final_newline = true
trim_trailing_whitespace = true
# Set default spacing
indent_style = space
indent_size = 2
# Set default charset
charset = utf-8
