{
  "name": "<%= @project_name %>",
  "scripts": {
    "postdeploy": "bin/rails db:seed"
  },
  "env": {
    "SENTRY_DSN": {
      "required": true
    },
    "SENTRY_ENVIRONMENT": {
      "required": true,
      "value": "review-app"
    },
    "SENTRY_AUTH_TOKEN": {
      "required": false
    }
  },
  "addons": [
    "heroku-postgresql",
    "papertrail"
  ],
  "buildpacks": [
    {
      "url":"heroku/metrics"
    },
    {
      "url": "heroku/nodejs"
    },
    {
      "url": "heroku/ruby"
    }
  ]
}
