.card {
  border: 1px solid var(--neutral-layer-card-border);
  border-radius: var(--radius);
  padding: var(--space-lg);
  background: var(--neutral-layer-card);
}

.card--no-padding {
  display: flex;
  flex-direction: column;

  padding: 0;
}
