label {
  display: inline-block;
  margin-right: var(--space-sm);
  margin-bottom: var(--space-sm);

  &:hover {
    cursor: pointer;
  }
}

[type="checkbox"] {
  cursor: pointer;
}

.form__label {
  padding-bottom: var(--space-xs);
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--color-contrast-high);
  font-weight: 400;
  font-size: var(--text-sm);
  letter-spacing: 0.4px;
}

.form__input {
  height: auto;
  display: block;
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--text-sm);
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-contrast-lower);
  border: 1px solid var(--color-contrast-medium);
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: var(--radius);
  box-shadow: none;

  &:focus {
    color: var(--color-black);
    outline: 0;
    border-color: var(--color-contrast-high);
  }
}

.form__dropdown {
  height: 2.7rem;
  padding: var(--space-sm) var(--space-md);
  line-height: 1.2;
  color: var(--color-black);
  outline: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI5IDE0IiB3aWR0aD0iMjkiPjxwYXRoIGZpbGw9IiNkMWQxZDEiIGQ9Ik05LjM3NzI3IDMuNjI1bDUuMDgxNTQgNi45MzUyM0wxOS41NDAzNiAzLjYyNSIvPjwvc3ZnPgo=') center right no-repeat;
  background-size: 8px 10px;
  background-color: var(--color-contrast-lower);
  border: 1px solid var(--color-contrast-medium);
  font-weight: 300;
  font-size: var(--text-sm);
  border-radius: var(--radius);
  display: inline-block;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;

  &:hover:not(:focus):not(:disabled) {
    cursor: pointer;
    border-color: var(--color-contrast-high);
  }

  &:focus {
    border-color: var(--color-contrast-high);
    outline: 0;
  }
}

.form__group {
  margin: var(--space-sm) auto;
  text-align: left;
}

.form__checkbox {
  margin: var(--space-sm) var(--space-sm) var(--space-sm) 0;
}

.form__radio {
  margin: var(--space-sm) var(--space-sm) var(--space-sm) 0;
}

.form__submit {
  background: var(--color-contrast-lower);
}

// Imported from simple_form
#error_explanation {
  background-color: var(--color-error-lighter);
  border-radius: var(--radius);
  border: 1px solid var(--color-error-light);
  color: var(--color-error);
  margin-bottom: var(--space-lg);
  padding: var(--space-lg);

  h2 {
    font-size: var(--text-md);
  }
  ul {
    margin-bottom: 0;
  }
}

// .form__error?
.error {
  padding: var(--space-xxs) var(--space-xs);

  color: white;
  border-radius: var(--radius-sm);
  background: var(--color-error-vibrant);

  font-size: var(--text-xs);
}

// .form__input--error?
.field_with_errors {
  input {
    box-shadow: inset 0 0 0 1px var(--color-error-vibrant);
  }
}

// Not sure if we need this
.field_group {
  margin-bottom: var(--space-lg);
}
