$color-green-50: hsl(131, 64%, 95%);
$color-green-100: hsl(129, 79%, 90%);
$color-green-200: hsl(129, 70%, 82%);
$color-green-300: hsl(129, 68%, 73%);
$color-green-400: hsl(130, 61%, 64%);
$color-green-500: hsl(130, 57%, 56%);
$color-green-600: hsl(131, 50%, 50%);
$color-green-700: hsl(131, 54%, 45%);
$color-green-800: hsl(131, 54%, 40%);
$color-green-900: hsl(132, 52%, 35%);

$color-yellow-50: hsl(51, 99%, 93%);
$color-yellow-100: hsl(48, 100%, 88%);
$color-yellow-200: hsl(49, 99%, 80%);
$color-yellow-300: hsl(48, 100%, 70%);
$color-yellow-400: hsl(47, 100%, 61%);
$color-yellow-500: hsl(45, 97%, 54%);
$color-yellow-600: hsl(42, 96%, 50%);
$color-yellow-700: hsl(39, 100%, 48%);
$color-yellow-800: hsl(35, 99%, 47%);
$color-yellow-900: hsl(31, 99%, 45%);

$color-red-50: hsl(359, 94%, 98%);
$color-red-100: hsl(1, 96%, 94%);
$color-red-200: hsl(0, 100%, 89%);
$color-red-300: hsl(0, 100%, 83%);
$color-red-400: hsl(0, 99%, 76%);
$color-red-500: hsl(360, 99%, 71%);
$color-red-600: hsl(0, 93%, 65%);
$color-red-700: hsl(0, 86%, 59%);
$color-red-800: hsl(0, 74%, 53%);
$color-red-900: hsl(0, 65%, 48%);

$color-teal-50: hsl(160, 77%, 94%);
$color-teal-100: hsl(161, 84%, 87%);
$color-teal-200: hsl(162, 79%, 77%);
$color-teal-300: hsl(162, 72%, 64%);
$color-teal-400: hsl(162, 68%, 53%);
$color-teal-500: hsl(163, 75%, 45%);
$color-teal-600: hsl(161, 77%, 41%);
$color-teal-700: hsl(162, 85%, 35%);
$color-teal-800: hsl(162, 90%, 30%);
$color-teal-900: hsl(161, 88%, 27%);

$color-blue-50: hsl(205, 100%, 95%);
$color-blue-100: hsl(206, 100%, 91%);
$color-blue-200: hsl(205, 99%, 82%);
$color-blue-300: hsl(207, 96%, 72%);
$color-blue-400: hsl(207, 92%, 64%);
$color-blue-500: hsl(207, 86%, 57%);
$color-blue-600: hsl(208, 80%, 52%);
$color-blue-700: hsl(208, 77%, 47%);
$color-blue-800: hsl(209, 77%, 43%);
$color-blue-900: hsl(209, 75%, 38%);

$color-violet-50: hsl(251, 100%, 97%);
$color-violet-100: hsl(258, 99%, 93%);
$color-violet-200: hsl(255, 99%, 87%);
$color-violet-300: hsl(255, 94%, 79%);
$color-violet-400: hsl(256, 93%, 72%);
$color-violet-500: hsl(255, 90%, 67%);
$color-violet-600: hsl(255, 86%, 63%);
$color-violet-700: hsl(255, 78%, 60%);
$color-violet-800: hsl(255, 67%, 55%);
$color-violet-900: hsl(255, 54%, 50%);

$color-orange-50: hsl(34, 98%, 95%);
$color-orange-100: hsl(33, 99%, 90%);
$color-orange-200: hsl(32, 100%, 83%);
$color-orange-300: hsl(32, 99%, 73%);
$color-orange-400: hsl(31, 100%, 65%);
$color-orange-500: hsl(29, 99%, 58%);
$color-orange-600: hsl(27, 98%, 53%);
$color-orange-700: hsl(24, 95%, 50%);
$color-orange-800: hsl(21, 90%, 48%);
$color-orange-900: hsl(17, 86%, 46%);
