h1.text-center Typography

h1 h1 Welcome to example.com, #{@user.first_name}
h2 h2 Welcome to example.com, #{@user.first_name}
h3 h3 Welcome to example.com, #{@user.first_name}
h4 h4 Welcome to example.com, #{@user.first_name}
h5 h5 Welcome to example.com, #{@user.first_name}
h6 h6 Welcome to example.com, #{@user.first_name}

h1.text-center Text content

p You have successfully signed up to example.com, your username is: #{@user.email}.
.text-center
  = link_to 'Log in', root_url, class: 'btn btn--primary margin-y-lg'
p Thanks for joining and have a great day!
